<!-- <h1>I am Parent component hosting home component</h1>
{{ 'In Parent : ' + counterinParent}}
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>


<input #a [value]="'abc'">
<app-home [counter]="counterinParent" (counterchanged)="eventHandler($event)"></app-home> -->

<!-- <app-home #myVar></app-home> 
{{myVar.counter}}
<button (click)="myVar.increment()">MySampleButton</button> -->

<!-- 
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<hr>

<button (click)="toggle()">Toggle</button>

<div *ngIf="flag">
    <app-home [counter]="counterinParent">
        <div>This is my sample block to project</div>
    </app-home>
</div>
<div *ngIf="!flag">

    <app-test></app-test>
</div> -->
<div class="header">
    <button type="button" (click)="login()" class="btn-sm btn-primary float-end">Login</button>
    &nbsp;
    <button type="button" (click)="logout()" class="btn-sm btn-danger  float-end">LogOut</button>
    <ul>
        <li [routerLink]="'home'" class="menuItem">
            Home Component
        </li>

        <li [routerLink]="'myobservable/main'" class="menuItem">
            MyObservable Component
        </li>

        <li [routerLink]="'test'" [queryParams]="{city:'New York', age:20}" class="menuItem">
            Test Component
        </li>
        <li [routerLink]="['testdetails', 560,'Paul']" class="menuItem">
            Test Detail Component
        </li>
    </ul>

</div>
<div class="body">
    <!-- <button class="btn btn-warning" (click)="navigateMethod()"> Login </button> -->
    <router-outlet></router-outlet>
    <!-- 
    <div>
        <h1>Uppercase Pipe</h1>
        <b>{{title | uppercase}}</b><br />

        <h1>Lowercase Pipe</h1>
        <b>{{title | lowercase}}</b>

        <h1>Currency Pipe</h1>
        <b>{{6589.23 | currency:"USD"}}</b><br />
        <b>{{6589.23 | currency:"EUR":true}}</b> //Boolean true is used to get the sign of the currency.

        <h1>Date pipe</h1>

        <b>{{todaydate | date}}</b><br />
        <b>{{todaydate | date:'d/M/y'}}</b><br />
        <b>{{todaydate | date:'shortTime'}}</b> <br />
        <b>{{todaydate | date:'medium'}}</b><br />

        <h1>Decimal Pipe</h1>
        <b>{{ 454.78787814 | number: '3.4-4' }}</b> // 3 is for main integer, 4 -4 are for integers to be displayed.
    </div> -->
</div>